
@import "./styles/variables/Variables.scss";

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: $font-main;
    height: 100dvh;
}


h1 {
    font-family: $font-title;
    font-size: 5rem;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2 {
    grid-column: 1/3;
    font-family: $font-title;
    font-size: 1.8rem;
}

h3 {
    font-family: $font-title;
    font-size: 1.4rem;
}


.layout {
    max-width: 30rem;
    padding: 0 0.8rem;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.navbar {
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 999;
    height: 5rem;
    top: 0px;
    background-color: rgb(255, 255, 255);
}

.navbar-elements {
    width: 100%;
    max-width: 30rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height:3.5rem;
    font-family: $font-main;
    cursor: pointer;

    .link {
        text-decoration: none;
        color: $col-white;
        text-align: center;
    }

    .btn-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        width: 5.5rem;
        background-color: #9b9b7a; 
        border: none;
        @include borders;
        font-size: 0.85rem;
        font-weight: 600;
        box-shadow: 1px 2px 0px 1px rgba(0, 0, 0, 0.071);
    }

    .btn-link:hover {
        background-color: #9b9b7ab9; 
    }
}

.hero {
    width: 100%; 
    margin-top: 5rem;
    position: relative;

    h1 {
        position: absolute;
        top: 15%;
        left: 25%;
    }

    img {
        width: 100%;
        height: 16rem;
        object-fit: cover;
        border-radius: 16px;
        border: 2px black solid;
    }
}

.search {
    width: 100%;
    position: relative;

    input {
        display: block;
        width: 100%;
        height: 2.2rem;
        margin: 1rem auto;
        padding-left: 1rem;
        color: #9b9b7a;
        font-size: 0.9rem;
        font-family: $font-main;
        @include borders;
    }

    img {
        position: absolute;
        top: 6px;
        right: 10px;
        height: 1.5rem;
        cursor: pointer;
    }
}

.categories {
    display: grid;
    place-items: center;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: 5fr;
    gap: 0.8rem;
}

.category-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    @include borders;
    font-weight: 500;
    background-color: #f1dca7a5;
    box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.071);
    cursor: pointer;
}

.category-card:hover {
    background-color: #f1dca735;
}

.exercises {
    display: grid;
    place-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 5rem;
}

.exercise-card {
    position: relative;
    display: grid;
    padding: 0.8rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(5,1fr);
    height: 15rem;
    width: 100%;
    color: black;
    @include borders;
    box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.071);
    
    h3 {
        width: 75%;
        grid-column: 1/3;
    }

    .exercise-img {
        grid-row: 2/5;
        height: 8rem;
        overflow: hidden;
    }

    img {
        height: 120%;
        transform: translate(-0.5rem, -1rem);
        object-fit: contain;
    }

    button {
        @include button();
        position: absolute;
        bottom: 0.85rem;
        right: 0.85rem;
        box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.071);
        cursor: pointer;
    }

    button:disabled {
        background-color: lightgray;
    }
    button:disabled:hover {
        background-color: lightgray;
    }
    .exercise-txt {
        grid-column: 2/3;
        color: black;
        font-size: 0.85rem;
    }
 
    .exercise-card-btn:hover {
        background-color: #ffb8039d;
    }

    .exercise-card-btn:active {
        background-color: #ffb8039d;
    }
}

.workout-empty {
    display: grid;
    place-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 10rem;
}

.workout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 5rem;

    .workout-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .workout-title {
        text-align: center;
        padding: 0.5rem 0rem;
    }

    .save-btn {
        @include button;
        width: 100%;
        height: 2.2rem;;
        font-size: 1rem;
        box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.071);
    }

    .save-btn:disabled {
        background-color: lightgray;
    }
    .save-btn:disabled:hover {
        background-color: lightgray;
    }

    .workout-card {
        position: relative;
        display: grid;
        column-gap: 1rem;
        padding: 0.8rem;
        grid-template-columns: 1fr 1fr;
        height: 26rem;
        width: 100%;
        color: black;
        @include borders;
        box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.071);
    
        h3 {
            width: 75%;
            grid-column: 1/3;
            font-family: $font-title;
            font-size: 1.4rem;
        }
    
        .workout-img {
            grid-row: 3/4;
            height: 8rem;
            overflow: hidden;
        }
    
        .workout-img img {
            height: 120%;
            transform: translate(-0.5rem, -1rem);
            object-fit: contain;
    
        }
    
        .workout-remove-btn {
            @include button();
            background-color: white;
            border: 1px solid rgba(128, 128, 128, 0.18);
            position: absolute;
            font-size: 0.85rem;
            width:5rem;
            top: 0.85rem;
            right: 0.85rem;
            box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.071); 
        }

        .workout-remove-btn:hover {
            background-color: #ffb703;
        }
 
        .exercise-txt {
            grid-column: 2/3;
            color: black;
            font-size: 0.85rem;
        }
    
    }
    
    .workout-setting {
        display: grid;
        margin-top: 1rem;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        column-gap:0.5rem;
        row-gap: 1rem;
    }
                
    .workout-set-btn {
        @include button();
        justify-self: start;
        align-self: center;
        width: 6rem;
        height: 2.5rem;
        font-size: 1rem;
        grid-row: 4/4;
        grid-column: 2/2;
        box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.071); 
    }
    
    .workout-set-btn:hover {
        background-color: #ffb8039d;
    }

    .workout-refresh {
        grid-row: 4/4;
        grid-column: 2/2;
        justify-self: end;
        align-self: center;
        height: 2rem;
        cursor: pointer;
    }
 
    .workout-timer {
        display: grid;
        gap: 1rem;        
        grid-template-columns: 1fr 1fr;
        height: 2.5rem;
        font-size: 1.2rem;
    }

    .timer-countdown {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .time {
        font-size: 1.4rem;
    }

    input {
        width: 90%;
        height: 2rem;
        text-align: center;
        border: 1px solid rgba(128, 128, 128, 0.18);
        box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.071); 
        border-radius: 8px;
    }

    .workout-time-settings {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        column-gap: 0.5rem;

        p {
            grid-column: 1/3;
        }

        .workout-time-input {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column: 1/3;
            column-gap: 0.5rem;

            p {
                grid-column: 2/3;
                padding-top: 0.5rem;
            }
        }
    } 
}


.modal::backdrop, .save-modal::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.247);
  }
  
  .modal {
    min-width: 15rem;
    margin: auto;
    text-align: center;
    padding: 2rem 2rem 1rem 2rem;
    z-index: 2;
    background: #d5c7bc;
    border-radius: 8px;
    border-width: 0px;
    animation: slide-down-fade-in 0.3s ease-out forwards;
  }

  .modal-img {
    height: 9rem;
    padding: 1rem;
  }

  .save-modal {
    min-width: 15rem;
    padding: 2rem 1rem 0rem 1rem;
    border-width: 2px;
    margin: auto;
    text-align: center;
    background: #d5c7bc;
    border-radius: 8px;
    animation: slide-down-fade-in 0.3s ease-out forwards;
    z-index: 99999;

    .save-modal-inner {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    }

    .save-modal-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: white;
        border: none;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 1.8rem;
        font-weight: 800;
    }

    .save-modal-btn {
        @include button();
        width: 6rem;
        background-color: rgb(172, 79, 79);
        padding: 0.5rem;
        margin: 1rem auto;
        color: white;
        box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.071);
    }
    label {
        font-size: 0.85rem;
        margin-bottom: 0.5rem;
    }

    input {
        background-color: white;
        width: 18rem;
        margin-bottom: 1rem;
    }
  }


  .saved-card {
    position: relative;
    display: grid;
    grid-template-columns: (1fr 1fr);
    gap: 0.5rem;
    padding: 0.8rem;
    height: 10rem;
    width: 100%;
    color: black;
    @include borders;
    box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.071);
  }

    .save-card-buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        grid-column: 2;
        
    }

  .save-card-btn {
    @include button;
    width: 50%;
    height: 2.2rem;;
    font-size: 1rem;
    box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.071);
  }

  .save-card-btn-remove {
    @include button;
    width: 50%;
    height: 2.2rem;;
    font-size: 1rem;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.18);
    box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.071); 
  }